.beer-title-wrapper{
  display: block;
  border-bottom: 1px solid #fff ;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.beer-tag{
border-radius: 4px;
border: none;
font-size: large;
margin-left: 15px;
font-weight: bold;
color: #fff;
}
.beer-title{
  font-size: large;
  color: #696969;
  font-weight: bold;
}
.beer-purchase{
  color: #696969;
  font-weight: 400;
  float: right;
  margin-right: 30px;
}
.beer-image{
  width: 10%;
  height: auto;
  object-fit: contain;
  margin-right: 3%;
}
.beer-description-wrapper{
  display: inline-flex;
}
.beer-description{
  width: 56%;
  color: black;
  margin-left: 3%;
  font-family: 'Noto Sans JP', sans-serif !important;
}
.beer-description-title{
  font-size: large;
  text-align: center;
}
.beer-chart-wrapper{
  width: 30%;
}

.ipa{
background-color: #3cb371;
}
.beer-description-text{
  word-break: break-all;
}
.beer-food{
  margin-top: auto;
  font-size:medium;
  color: #696969;
}
